<!-- introduction-screen.component.html -->

<div class="container pt-2 near2MeLogo">
  <img class="near2meImage" src="assets/logos/Near2me.png" alt="" />
  <br />
</div>
<div class="container pt-0 pb-0 introduction-screen">
  <!--Carousel starts-->
  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner d-flex align-items-center">
      <br />
      <div class="carousel-item active" data-bs-interval="5000">
        <p style="text-align: center">
          <b>
            Near 2 me is a local classifieds for farmers, home-based businesses
            and cottage industries</b
          >
        </p>

        <p style="margin-bottom: 0">
          <b>
            “Looking for homegrown vegetables, homebased products or essential
            services in your neighborhood”?</b
          >
        </p>
        <p>Use near 2 me to look for products and services in your locality.</p>

        <p style="margin-bottom: 0">
          <b>“Are you a farmer or having a homebased business”?</b>
        </p>
        <p>
          Use near 2 me to advertise your homegrown vegetables and homemade
          products in your locality.
        </p>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <p style="text-align: center" class="malayalam">
          <b>
            കർഷകർക്കും, ഗൃഹാധിഷ്ഠിത ബിസിനെസ്സുകൾക്കും, പ്രാദേശിക
            പരസ്യങ്ങൾക്കായുള്ള മൊബൈൽ ആപ്പാണ് Near2me.</b
          >
        </p>

        <p style="margin-bottom: 0" class="malayalam">
          <b>
            നിങ്ങളുടെ അയൽപക്കത്തുള്ള വീട്ടുപച്ചക്കറികൾ, വീട്ടുൽപ്പന്നങ്ങൾ
            അല്ലെങ്കിൽ അവശ്യ സേവനങ്ങൾ എന്നിവയ്ക്കായി അന്വേഷിക്കുകയാണോ?</b
          >
        </p>

        <p style="margin-bottom: 0" class="malayalam">
          <b>നിങ്ങൾ ഒരു കർഷകനാണോ അതോ ഗൃഹാധിഷ്ഠിത ബിസിനസ്സ് ഉള്ള ആളാണോ?</b>
        </p>
        <br />
        <p style="margin-bottom: 0" class="malayalam">
          വീട്ടിലുണ്ടാക്കുന്ന പച്ചക്കറികളും ഉൽപ്പന്നങ്ങളും പരസ്യം ചെയ്യാനും
          നമ്മുടെ പ്രാദേശിക ഉൽപ്പന്നങ്ങളും അവശ്യ സേവനങ്ങളും കണ്ടെത്താനും Near2me
          ഉപയോഗിക്കാം
        </p>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <p style="text-align: center" class="tamil">
          <b>
            விவசாயிகள், வீடு சார்ந்த வணிகங்கள் மற்றும் குடிசைத் தொழில்களுக்கான
            உள்ளூர் விளம்பர பயன்பாடு.</b
          >
        </p>

        <p style="margin-bottom: 0" class="tamil">
          <b>
            உங்கள் அருகில் உள்ள வீட்டுக் காய்கறிகள், வீட்டுத் தயாரிப்புகள்
            அல்லது அத்தியாவசிய சேவைகளை தேடுகிறீர்களா?</b
          >
        </p>

        <p style="margin-bottom: 0" class="tamil">
          <b>நீங்கள் ஒரு விவசாயியா அல்லது வீட்டு வணிகம் உள்ளவரா?</b>
        </p>
        <br />
        <p style="margin-bottom: 0" class="tamil">
          உங்கள் வீட்டுக் காய்கறிகள் மற்றும் வீட்டில் தயாரிக்கப்பட்ட பொருட்களை
          விளம்பரப்படுத்தவும், உங்கள் அருகில் உள்ள உள்ளூர் தயாரிப்புகள் மற்றும்
          அத்தியாவசிய சேவைகளைக் கண்டறியவும் Near 2 me பயன்படுத்தலாம்.
        </p>
      </div>
    </div>
    <!-- <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button> -->

    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
  </div>
  <!--Carousel Ends-->
</div>

<div class="container">
  <div class="row">
    <div class="col getStartedSection">
      <div class="checkButton">
        <mat-checkbox [(ngModel)]="doNotShowIntroduction"
          >Do not show again</mat-checkbox
        >
      </div>

      <br />
      <div class="row startButton">
        <button
          style="width: 15em"
          class="btn btn-success"
          (click)="dismissIntroduction()"
        >
          Get Started
        </button>
      </div>
      <br />
    </div>
  </div>
</div>
