<!--Header-->
<div [@fadeInOut]>
<div class="container-fluid p-3 mainHeader">
  <div class="row">
    <div class="col">
      <p class="notification">Notifications</p>
    </div>
    <div class="col">
      <!-- <button type="button" class="btn btn-primary selectButton">
        <span class="markRead">Select</span>
      </button> -->
    </div>
    <div class="col">
      <button
        type="button"
        class="btn btn-primary readButton"
        (click)="deleteSelectedNotifications()"
        [disabled]="selectedNotifications.length === 0"
      >
        <span class="markRead">Delete</span>
      </button>
    </div>
  </div>
</div>
<!--Space to show the elements below floating header-->
<br /><br /><br />

<!--notification-->

<br />

<!-- <div *ngIf="notifications.length===0"> -->
<div>
  <div class="container" *ngIf="notifications && notifications.length === 0">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 noNoti">
        <h5>No notifications to show!</h5>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>

<div *ngIf="notifications && notifications.length !== 0">
  <div *ngFor="let notification of notifications">
    <div class="container mb-1">
      <div class="notificationBox" [class.selected]="isSelected(notification)">
        <div class="row align-items-center">
          <div class="col-2">
            <i class="fa-regular fa-bell fa-lg notificationIcon"></i>
          </div>
          <div class="col-8">
            <p class="newpara">
              A customer has shown interest in your posting
              <b class="productTitle">{{ notification.productTitle }}</b>
            </p>
            <p class="fruitsVeg">
              Customer ID:
              <span
                class="customerID"
                (click)="redirectToSellerDetails(notification.customerID)"
                >{{ notification.customerID }}</span
              >
            </p>
          </div>
          <div class="col-2 text-end">
            <div class="recycleCol" (click)="selectNotification(notification)">
              <i
                class="fas fa-trash-alt recycleIcon"
                [ngClass]="{ selected: isSelected(notification) }"
              ></i>
            </div>
          </div>

          <div class="col-12 text-end">
            <p class="notiDate">
              Date: <span>{{ notification.date | slice : 0 : 10 }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- notificationtesting ends -->

<!-- <div class="container">
  <div class="notificationBox">
    <div class="row">
      <div class="col-2">
        <i class="fa-regular fa-bell fa-lg notificationIcon"></i>
      </div>
      <div class="col-10">
        <p class="newpara">New item has added in</p>
        <p class="fruitsVeg">Fruits and veg</p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-3">
        <p class="header">Item name:</p>
        <p class="headerComp">Apples</p>
      </div>
      <div class="col-3">
        <p class="header">Distance:</p>
        <p class="headerComp">2 km</p>
      </div>
      <div class="col-3">
        <p class="header">Time:</p>
        <p class="headerComp">20 mins</p>
      </div>
      <div class="col-3">
        <p class="header">Amount:</p>
        <p class="headerComp">
          <i class="fa-solid fa-indian-rupee-sign"></i> 139/kg
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <p class="descreption">Descreption:</p>
        <p class="descreption">
          In publishing and graphic design, Lorem ipsum is a placeholder text
          commonly used to demonstrate the visual form of a document or a typef
        </p>
      </div>
    </div>
  </div>
</div>
<br /> -->

<!--notification list-1-->

<!-- <div class="container">
  <div class="notificationBox">
    <div class="row">
      <div class="col-2">
        <i class="fa-regular fa-bell fa-lg notificationIcon"></i>
      </div>
      <div class="col-10">
        <p class="newpara">New item has added in</p>
        <p class="fruitsVeg">Fruits and veg</p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-3">
        <p class="header">Item name:</p>
        <p class="headerComp">Apples</p>
      </div>
      <div class="col-3">
        <p class="header">Distance:</p>
        <p class="headerComp">2 km</p>
      </div>
      <div class="col-3">
        <p class="header">Time:</p>
        <p class="headerComp">20 mins</p>
      </div>
      <div class="col-3">
        <p class="header">Amount:</p>
        <p class="headerComp">
          <i class="fa-solid fa-indian-rupee-sign"></i> 139/kg
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <p class="descreption">Descreption:</p>
        <p class="descreption">
          In publishing and graphic design, Lorem ipsum is a placeholder text
          commonly used to demonstrate the visual form of a document or a typef
        </p>
      </div>
    </div>
  </div>
</div>
<br /> -->

<!--feedback-->
<!--
<div class="container">
  <div class="notificationBox">
    <div class="row">
      <div class="col">
        <p class="feedback">Feedback on your last transcation with ID 0000</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span>
          <i class="fa-solid fa-thumbs-down fa-lg downButton"></i>
          <i class="fa-solid fa-thumbs-up fa-lg align upButton"></i>
        </span>
      </div>
    </div>
  </div>
</div>
<br /> -->
<!--notification list-1-->

<!-- <div class="container">
  <div class="notificationBox">
    <div class="row">
      <div class="col-2">
        <i class="fa-regular fa-bell fa-lg notificationIcon"></i>
      </div>
      <div class="col-10">
        <p class="newpara">New item has added in</p>
        <p class="fruitsVeg">Fruits and veg</p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-3">
        <p class="header">Item name:</p>
        <p class="headerComp">Apples</p>
      </div>
      <div class="col-3">
        <p class="header">Distance:</p>
        <p class="headerComp">2 km</p>
      </div>
      <div class="col-3">
        <p class="header">Time:</p>
        <p class="headerComp">20 mins</p>
      </div>
      <div class="col-3">
        <p class="header">Amount:</p>
        <p class="headerComp">
          <i class="fa-solid fa-indian-rupee-sign"></i> 139/kg
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <p class="descreption">Descreption:</p>
        <p class="descreption">
          In publishing and graphic design, Lorem ipsum is a placeholder text
          commonly used to demonstrate the visual form of a document or a typef
        </p>
      </div>
    </div>
  </div>
</div>
<br /> -->

<!--notification list-1-->

<!-- <div class="container">
  <div class="notificationBox">
    <div class="row">
      <div class="col-2">
        <i class="fa-regular fa-bell fa-lg notificationIcon"></i>
      </div>
      <div class="col-10">
        <p class="newpara">New item has added in</p>
        <p class="fruitsVeg">Fruits and veg</p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-3">
        <p class="header">Item name:</p>
        <p class="headerComp">Apples</p>
      </div>
      <div class="col-3">
        <p class="header">Distance:</p>
        <p class="headerComp">2 km</p>
      </div>
      <div class="col-3">
        <p class="header">Time:</p>
        <p class="headerComp">20 mins</p>
      </div>
      <div class="col-3">
        <p class="header">Amount:</p>
        <p class="headerComp">
          <i class="fa-solid fa-indian-rupee-sign"></i> 139/kg
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <p class="descreption">Descreption:</p>
        <p class="descreption">
          In publishing and graphic design, Lorem ipsum is a placeholder text
          commonly used to demonstrate the visual form of a document or a typef
        </p>
      </div>
    </div>
  </div>
</div>
<br /> -->

<!--feedback-->

<!-- <div class="container">
  <div class="notificationBox">
    <div class="row">
      <div class="col">
        <p class="feedback">Feedback on your last transcation with ID 0000</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span>
          <i class="fa-solid fa-thumbs-down fa-lg downButton"></i>
          <i class="fa-solid fa-thumbs-up fa-lg align upButton"></i>
        </span>
      </div>
    </div>
  </div>
</div> -->
<br /><br /><br />
</div>
<app-navigation-bar></app-navigation-bar>
