<div *ngIf="!isPwaInstalled"><app-install-popup></app-install-popup></div>
<!--setting page header-->

<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 title"><h4>Settings</h4></div>
    <div class="col-2"></div>
  </div>
</div>
<br />
<!--setting page contents-->
<div class="container" *ngIf="mobileNumber">
  <div class="row">
    <div class="col-3">
      <img
        class="profilePhoto"
        *ngIf="imageURL"
        [src]="imageURL"
        alt="Profile Image"
        (click)="toggleImageZoom()"
      />
      <img
        class="profilePhoto"
        *ngIf="!imageURL"
        src="assets/personImages/defaultimage.jpg"
        alt="Default Image"
        (click)="toggleImageZoom()"
      />
    </div>
    <div *ngIf="isZoomed" class="zoomed-container" (click)="closeImageZoom()">
      <img
        class="zoomed-image"
        [src]="imageURL || 'assets/personImages/defaultimage.jpg'"
        alt="Zoomed Profile Image"
      />
    </div>

    <div class="col-9 contactDetails">
      <div class="row p-2"></div>
      <div class="row p-2">
        <div class="col d-flex flex-column">
          <p class="profileName">{{ userName }}</p>
          <p class="detailName">+91&nbsp;{{ mobileNumber }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--account-->
<div class="container">
  <div class="row account">
    <div class="col"><h6>ACCOUNT</h6></div>
  </div>
  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-primary profileButton"
        (click)="goToProfile()"
      >
        <i class="fa-solid fa-circle-user fa-lg profileIcons"></i>
        <span class="profileIcon"> {{ "profile" | translate }}</span>
        <i class="fa-solid fa-greater-than fa-lg rightArrow"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-primary profileButton"
        *ngIf="mobileNumber"
        (click)="deleteUserAccount()"
      >
        <i class="fa-solid fa-trash fa-lg profileIcons"></i>
        <span class="profileIcon"> {{ "deleteAccount" | translate }}</span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button
        *ngIf="mobileNumber"
        type="button"
        class="btn btn-primary profileButton"
        (click)="logout()"
      >
        <i class="fa-solid fa-right-from-bracket fa-lg profileIcons"></i>
        <span class="profileIcon">{{ "logout" | translate }}</span>
      </button>
    </div>
  </div>
</div>

<!--help-->

<div class="container">
  <div class="row account">
    <div class="col">
      <h6>ABOUT</h6>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-primary profileButton"
        (click)="AboutUs()"
      >
        <i class="fa-solid fa-circle-exclamation fa-lg profileIcons"></i>
        <span class="profileIcon">{{ "About us" | translate }}</span>
        <i class="fa-solid fa-greater-than fa-lg rightArrow"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-primary profileButton"
        (click)="contactUs()"
      >
        <i class="fa-solid fa-headset fa-lg profileIcons"></i>
        <span class="profileIcon">{{ "Contact us" | translate }}</span>
        <i class="fa-solid fa-greater-than fa-lg rightArrow"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-primary profileButton"
        (click)="Faq()"
      >
        <i class="fa-regular fa-circle-question fa-lg profileIcons"></i>
        <span class="profileIcon"> FAQ</span>
        <i class="fa-solid fa-greater-than fa-lg rightArrow"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary profileButton" (click)="TermsAndConditions()">
        <i class="fa-solid fa-file fa-lg profileIcons"></i>
        <span class="profileIcon"> Terms & Conditions</span>
        <i class="fa-solid fa-greater-than fa-lg rightArrow"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary profileButton" (click)="PrivacyPolicy()">
        <i class="fa-regular fa-file fa-lg profileIcons"></i>
        <span class="profileIcon">Privacy Policy</span>
        <i class="fa-solid fa-greater-than fa-lg rightArrow"></i>
      </button>
    </div>
  </div>
</div>

<!--other-->

<div class="container pb-5">
  <div class="row account">
    <div class="col">
      <h6>OTHER</h6>
    </div>
  </div>
  <div class="row">
    <div class="COL">
      <button
        type="button"
        class="btn btn-primary profileButton"
        routerLink="/select-language"
      >
        <i class="fa-solid fa-globe fa-lg profileIcons"></i>
        <span class="profileIcon"> {{ "language" | translate }}</span>
        <i class="fa-solid fa-greater-than fa-lg rightArrow"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="COL">
      <button
        type="button"
        class="btn btn-primary profileButton"
        (click)="share()"
      >
        <i class="fa-regular fa-share-from-square fa-lg profileIcons"></i>
        <span class="profileIcon">{{ "Share App" | translate }}</span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button
        *ngIf="!isPwaInstalled"
        type="button"
        class="btn btn-primary profileButton"
        (click)="installPopup()"
      >
        <i class="fa-regular fa-circle-down fa-lg profileIcons"></i>
        <span class="profileIcon">{{ "Install app" | translate }}</span>
      </button>
    </div>
  </div>
</div>

<!--Logos-->
<div class="container pb-5">
  <div class="row align-items-center justify-content-center">
    <div class="col p-0 text-center">
      <img class="logos" src="assets/logos/KSUM.png" alt="" />
    </div>
    <div class="col p-0 text-center">
      <img class="logos" src="assets/logos/startupIndia.png" alt="" />
    </div>
  </div>
</div>

<br /><br /><br />
<!--naviagtion bar-->

<app-navigation-bar></app-navigation-bar>
